/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [miluzbd]    Script Date: 07/10/2018 8:59:42 pm ******/
CREATE DATABASE [miluzbd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'miluzbd', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\miluzbd.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'miluzbd_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\miluzbd_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [miluzbd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [miluzbd]
GO
USE [miluzbd]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 07/10/2018 8:59:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id_categoria] [int] NOT NULL,
	[nombre] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 07/10/2018 8:59:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[precio] [decimal](18, 0) NULL,
	[id_categoria] [int] NULL,
	[id_proveedor] [int] NULL,
	[es_nacional] [bit] NULL,
	[tiene_garantia] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 07/10/2018 8:59:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor](
	[id_proveedor] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[numero_telefono] [varchar](50) NULL,
	[tipo_pago] [varchar](50) NULL,
	[existe_deuda] [bit] NULL
) ON [PRIMARY]
GO
USE [master]
GO
